// Fonts Import

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

// Color Pallet
$baseShade: #ffd772;
$accentShade: #213b84;
$accentDarkShade: #031927;
$ctaShade: #eeac07;
$optionalShadeBase: #eeac07;
$optionalShadePrimary: #e01d2f;
$optionalShadeSecondary: #66a2d1;
$optionalShadelightgreen: #67b292;
$optionalShadeSecondaryLight: #a7dae8;
$optionalShadeSecondaryVaried: #8295c3;
$optionalShadeTertiary: #82026e;
$optionalShadeBaseDark: #f28c35;
$textShade: #0d0d0d;
$textLightShade: #fff;
$placeholder-text: #d1d1d1;
$bgGrayPrimary: #f8f8f8;
$bgGraySecondary: #f2f2f2;

// Common Style

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
  @media (max-width: 767px) {
    font-size: 28px;
  }
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 16px;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1100px;
}
a {
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}
.bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.br-25 {
  border-radius: 25px;
  overflow: hidden;
}
.ShadeTertiary {
  .post-tag {
    background-color: $optionalShadeTertiary;
  }
}
.ShadeSecondary {
  .post-tag {
    background-color: $optionalShadeSecondary;
  }
}
.Shadelightgreen {
  .post-tag {
    background-color: $optionalShadelightgreen;
  }
}
.light-green {
  background-color: #67b292;
}
.yellows {
  background-color: $optionalShadeBase;
}

.sky-blue {
  background-color: $optionalShadeSecondary;
}

.reds {
  background-color: $optionalShadePrimary;
}

.media-cover {
  position: relative;
  background-color: $bgGraySecondary;
  img,
  video,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.text-light * {
  color: $textLightShade;
}
.btn-default,
.wp-block-button .wp-element-button,
.gform-theme.gform_wrapper.gform-theme--framework
  form
  .gform_footer
  .gform_button.button[type='submit'],
.gform-theme.gform_wrapper.gform-theme--framework
  form
  .gform_footer
  .gform_button.button {
  padding: 16px 56px 16px 30px;
  border-radius: 50px;
  background-color: $ctaShade;
  background-image: url('../images/icons/arrow-right.svg');
  background-size: 15px;
  background-position: right 30px center;
  background-repeat: no-repeat;
  display: inline-block;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
  border: 1px solid transparent;
  color: $textShade;
  font-weight: 600;
  font-size: 14px;
  &:hover {
    padding: 16px 43px;
    background-position: right -60px center;
    color: $textShade;
    background-color: rgba($color: $ctaShade, $alpha: 0.8);
  }
  &.btn-back {
    background-image: url('../images/arrow-left-light.svg');
    color: $textLightShade;
    padding: 16px 30px 16px 56px;
    background-position: left 30px center;
    &:hover {
      background-position: left -60px center;
      padding: 16px 43px;
    }
  }
  &.btn-accent {
    background-color: $accentDarkShade;
    color: $textLightShade;
    background-image: url('../images/btn-arrow-light.svg');
    &:hover {
      color: $textLightShade;
      background-color: rgba($color: $accentDarkShade, $alpha: 0.8);
    }
  }
  &.btn-outline {
    background-color: transparent;
    color: $textLightShade;
    border-color: $textLightShade;
  }
  &.no-arrow {
    background-image: none;
    padding: 16px 30px;
  }
}
.wp-block-button,
.gform-theme.gform_wrapper.gform-theme--framework {
  &.btn-accent-block,
  .btn-submit-accent .gform_footer {
    .wp-element-button,
    .gform_button.button[type='submit'],
    .gform_button.button {
      background-color: $accentDarkShade;
      color: $textLightShade;
      background-image: url('../images/btn-arrow-light.svg');
      &:hover {
        color: $textLightShade;
        background-color: rgba($color: $accentDarkShade, $alpha: 0.8);
      }
    }
  }
  &.btn-outline-block {
    .wp-element-button {
      background-color: transparent;
      color: $textLightShade;
      border-color: $textLightShade;
    }
  }
  &.btn-no-arrow-block {
    .wp-element-button {
      background-image: none;
      padding: 16px 30px;
    }
  }
  &.btn-back-block {
    .wp-element-button {
      background-image: url('../images/arrow-left-light.svg');
      color: $textLightShade;
      padding: 16px 30px 16px 56px;
      background-position: left 30px center;
      &:hover {
        background-position: left -60px center;
        padding: 16px 43px;
      }
    }
  }
}
.filter-form {
  .alm-filters {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
    margin-bottom: 0;
    row-gap: 10px;
    align-items: flex-end;
    > * {
      max-width: 100%;
      padding-right: calc(var(--bs-gutter-x) * 0.5);
      padding-left: calc(var(--bs-gutter-x) * 0.5);
      margin-top: var(--bs-gutter-y);
    }
  }
  .alm-filters-container {
    .alm-filter--inner {
      padding-bottom: 0;
    }
    .form-search {
      .alm-filter--inner {
        button {
          &[type='submit'],
          &[type='button'] {
            position: absolute;
            right: 18px;
            bottom: auto;
            top: 50%;
            transform: translateY(-50%);
            width: 17px;
            display: flex;
            background-color: transparent;
            border: 0;
            padding: 0;
            font-size: 0;
            height: 27px;
            background-image: url('../images/search-icon.svg');
            background-size: contain;
            background-position: center;
            box-shadow: none;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
form,
.gform_wrapper.gform-theme,
.alm-filters-container {
  .form-group,
  .gform_fields,
  .alm-filter .alm-filter--inner {
    grid-row-gap: 20px;
    &.input-icon {
      input:not([type='checkbox'], [type='radio']),
      select,
      textarea {
        padding: 0 20px 0 47px;
      }
    }
    .row {
      .input-field {
        margin-bottom: 15px;
      }
    }
    .input-field {
      margin-bottom: 19px;
    }
    label,
    .gfield_label {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 8px;
      text-transform: uppercase;
    }
    input:not([type='checkbox'], [type='radio']),
    select,
    textarea,
    input[type='text'].alm-filter--textfield {
      height: 52px;
      border: 1px solid #c9c9c9;
      border-radius: 8px;
      background-color: $textLightShade;
      padding: 0 20px;
      font-size: 15px;
      color: $accentDarkShade;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.161);
      width: 100%;
      &::-webkit-input-placeholder {
        color: $placeholder-text;
      }
      &:focus {
        outline: none;
      }
    }
    .input-group {
      gap: 10px;
      .input-field {
        margin: 0;
      }
    }
    input[type='radio'] {
      display: none;
      + label {
        padding: 12px 22px;
        border-radius: 100px;
        background-color: #fff;
        color: $accentShade;
        font-size: 14px;
        cursor: pointer;
        text-transform: none;
        margin: 0;
      }
      &:checked + label {
        background-color: $accentShade;
        color: $textLightShade;
      }
    }
    textarea {
      padding-top: 15px;
      min-height: 120px;
    }
    select {
      background-image: url('../images/chevron-down.svg');
      background-repeat: no-repeat;
      background-size: 15px;
      background-position: right 10px center;
      padding-right: 50px;
      -webkit-appearance: none;
      line-height: 48px;
    }
    .gfield--type-checkbox {
      .gfield_label {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 15px;
        text-transform: none;
      }
      .gform-field-label:not(.gfield_label) {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 0;
      }
    }
  }
  .gform_fields {
    .gfield {
      &.gfield_error {
        input {
          border-color: #e01d2f;
        }
        > .gfield_label {
          color: #e01d2f;
        }
      }
    }
  }
  .gform_validation_errors,
  .gfield_validation_message,
  .gform_required_legend {
    display: none;
  }
  .form-radio {
    .form-group {
      margin-bottom: 10px;
    }
  }
  .gform_confirmation_message {
    text-align: center;
  }
}

.filter-form {
  .row {
    row-gap: 10px;
  }
  button[type='submit'] {
    width: 100%;
    display: block;
  }
  form,
  .br-25 {
    padding: 14px 20px 20px;
    border: 1px solid $bgGraySecondary;
    .form-group {
      input:not([type='checkbox'], [type='radio']),
      select,
      textarea {
        box-shadow: none;
      }
      &.search-field {
        input {
          &[type='text'] {
            padding-right: 50px;
          }

          &::placeholder {
            color: $placeholder-text;
          }
        }
      }
    }
  }
  .alm-filters-container {
    .alm-filters--controls {
      margin-bottom: 0;
      display: block;
      width: 100%;
      @media (min-width: 768px) {
        flex: 0 0 auto;
        width: 16.66666667%;
      }
      .alm-filters--submit {
        margin-right: 0;
        button {
          padding: 16px 56px 16px 30px;
          border-radius: 50px;
          background-color: $ctaShade;
          background-image: url('../images/icons/arrow-right.svg');
          background-size: 15px;
          background-position: right 30px center;
          background-repeat: no-repeat;
          display: inline-block;
          text-decoration: none;
          transition: all ease-in-out 0.3s;
          border: 1px solid transparent;
          color: #0d0d0d;
          font-weight: 600;
          font-size: 14px;
          height: auto;
          line-height: normal;
          width: 100%;
          &:hover {
            padding: 16px 43px;
            background-position: right -60px center;
            color: #0d0d0d;
            background-color: rgba($color: $ctaShade, $alpha: 0.8);
          }
        }
      }
    }
  }
}
.form-search {
  position: relative;
  button {
    &[type='submit'],
    &[type='button'] {
      position: absolute;
      right: 18px;
      bottom: 14px;
      width: 17px;
      display: flex;
      background-color: transparent;
      border: 0;
      padding: 0;
    }
  }
}

// 26-12-23

.post-wrapper {
  padding-top: 30px;
  padding-bottom: 40px;

  .row {
    row-gap: 56px;
  }
}
.blog-post {
  .blog-title-with-media {
    position: relative;

    .media {
      padding-top: 59%;
    }

    span {
      position: absolute;
      top: 17px;
      left: 20px;
      margin: 0;
    }
  }

  .details {
    margin-top: 10px;
    position: relative;
    h4 {
      margin-bottom: 5px;
      color: #0d0d0d;
    }
    h6 {
      font-size: 14px;
      color: #a7a7a7;
      margin: 0;
    }
    .cta-arrow {
      bottom: 0;
      right: 0;
      height: 30px;
      width: 30px;
      svg {
        width: 16px;
      }
    }
  }
}

// end
.slider-controls,
.ajax-load-more-wrap .alm-paging {
  border: 1px solid $optionalShadeSecondaryLight;
  border-radius: 100px;
  padding: 15px;
  display: inline-flex;
  column-gap: 60px;
  align-items: center;

  .dots {
    height: 14px;
  }

  .slick-dots {
    position: static;
    display: inline-flex;
    column-gap: 10px;

    li {
      height: auto;
      width: auto;
      margin: 0;

      button {
        height: 14px;
        width: 14px;
        padding: 0;
        background-color: $optionalShadeSecondaryLight;
        border-radius: 10px;
        line-height: normal;
        font-size: inherit;

        &::before {
          display: none;
        }
      }

      &.slick-active {
        button {
          background-color: $optionalShadeSecondary;
        }
      }
    }
  }

  .arrow {
    cursor: pointer;
    line-height: 15px;

    img {
      height: 19px;
    }
  }
}

.ajax-load-more-wrap {
  .alm-btn-wrap {
    padding-top: 40px;
  }
  ul.alm-paging {
    column-gap: 15px;
    li {
      a {
        padding: 0;
        font-size: 14px;
        background: transparent;
        border: 0;
        color: #a7dae8;
        &:hover {
          background: transparent;
          color: $optionalShadeSecondary;
        }
      }
      &.active {
        a {
          background: transparent;
          color: $optionalShadeSecondary;
        }
      }
      &.next {
        margin-left: 35px;
        a {
          color: $optionalShadeSecondary;
        }
      }
      &.prev {
        margin-right: 35px;
        a {
          color: $optionalShadeSecondary;
        }
        &.disabled {
          a {
            opacity: 1;
          }
        }
      }
    }
  }
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  &.btn-list-block {
    flex-direction: column;
  }
}
.bg-style {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-gray-primary {
  background-color: $bgGrayPrimary;
}
.bg-gray-secondary {
  background-color: $bgGraySecondary;
}
.bg-accent {
  background-color: $accentShade;
}
.bg-base {
  background-color: $baseShade;
}
.text-body {
  color: $textShade;
}

// Header Style

.site-main-header {
  // padding-bottom: 10px;
  .search-form-inner {
    display: flex;
    column-gap: 15px;
    align-items: center;
    padding: 15px 0;
    .close-btn {
      height: 52px;
      width: 52px;
      flex-shrink: 0;
      background-color: #e6e6e6;
      border-radius: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      img {
        width: 12px;
      }
    }
  }
  .responsive-menubar-items{
    .navbar-toggler{
      padding: 16px 25px;
      background-color: $ctaShade;
      border-radius: 100px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      display: none;
      align-items: center;
      justify-content: center;
      border: 0;
      color: #0D0D0D;
      &:focus{
        box-shadow: none;
        outline: none;
      }
      img{
        width: 20px;
        margin-left: 6px;
      }
      @media(max-width:991px){
        display: inline-flex;
      }
    }
  }
  .search-form-main {
    // display: none;
    form {
      display: flex;
      column-gap: 18px;
      width: 100%;
      input {
        box-shadow: none;
      }
      .form-group {
        flex: 1 0 0%;
      }
    }
  }
  .navbar-brand {
    max-width: 156px;
    img {
      max-width: 156px;
      @media (max-width: 767px) {
        max-width: 110px;
      }
    }
  }
  .navbar-collapse {
    a {
      font-size: 14px;
      color: $textShade;
      display: block;
      font-weight: 600;
    }
    .navbar-nav {
      align-items: center;
      margin-top: 10px;
      > li{
        &:not(.nav-btn){
          
          > a{
            padding: 15px 0 20px;
            position: relative;
            &:before{
              content: "";
              height: 100%;
              background-color: $bgGraySecondary;
              position: absolute;
              border-top-left-radius: 25px;
              left: -20px;
              border-top-right-radius: 25px;
              background-color: #f2f2f2;
              z-index: -1;
              right: -20px;
              margin: auto;
              bottom: 0;
              opacity: 0;
              visibility: hidden;
              transition: all 0.3s;
            }
            &:after{
              content: "";
              width: 14px;
              height: 4px;
              background-color: $optionalShadePrimary;
              position: absolute;
              left: 0;
              right: 0;
              margin: auto;
              bottom: 10px;
              border-radius: 10px;
              opacity: 0;
              visibility: hidden;
              transition: all 0.3s;
            }
            &:hover{
              &:before, &:after{
                opacity: 1;
                visibility: visible;
              }
            }
          }
          
        }
      }
      li {
        margin-right: 40px;
        &.menu-item-has-children {
          > a {
            .fa-solid {
              font-weight: 800;
              font-size: 11px;
              margin-left: 10px;
            }
          }
          @media(min-width:991px){
            &:hover{
              .mega-menu{
                animation-duration: 300ms;
                display: block;
                top: 110px;
                opacity: 1;
                z-index: 99;
                visibility: visible;
              }
            }
          }
          @media(max-width:991px){
            &.menu-visible{
              .mega-menu{
                animation-duration: 300ms;
                display: block;
                top: 110px;
                opacity: 1;
                z-index: 99;
                visibility: visible;
              }
              
            }
          }
        }
        
        &.nav-btn {
          margin-right: 12px;
          padding-bottom: 10px;
          > a {
            padding: 10px 20px;
            border: 2px solid $ctaShade;
            border-radius: 50px;
            &:after{
              content: '\f078';
              font-family: 'Font Awesome 5 free';
              font-weight: 800;
              font-size: 11px;
              margin-left: 7px;
            }
            &:hover {
              background-color: $ctaShade;
            }
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
      a {
        font-size: 16px;
        padding: 0;
      }
      @media(max-width:991px){
        align-items: normal;
        flex-direction: column;
        > li{
          margin-right: 0;
          &:hover{
            &::before, &:after{
              display: none;
            }
          }
          
          &:not(.nav-btn){
            padding:5px 0;
            border-bottom: 1px solid #e3e3e3;
            position: relative;
            > a{
              display: inline-block;
              padding:10px 15px 14px;
              border-top-left-radius: 15px;
              border-top-right-radius: 15px;
              position: relative;
              &:after{
                content:"";
                height: 4px;
                width: 14px;
                background-color: $optionalShadePrimary;
                border-radius: 10px;
                left: 0;
                right: 0;
                margin: auto;
                bottom: 7px;
                display: block;
                position: absolute;
                opacity: 0;
              }
            }
            > i{
              font-size: 14px;
              margin-left: 15px;
              position: absolute;
              right: 15px;
              top:22px;
              transition: all ease-in 0.2s;
            }
            &.menu-visible{
              > a{
                background-color: $bgGraySecondary;
                &:after{
                  opacity: 1;
                  visibility: visible;
                }
              }
              > i{
                transform: rotate(180deg);
              }
            }
          }
          .megamenu-grid-nav{
            .nav-thumb{
              display: none;
            }
            .nav-content{
              margin-bottom: 0;
            }
            .megamenu-feature-nav{
              padding: 25px 32px 10px;
            }
          }
        }
      }
    }
  }
  .quick-approach-nav {
    display: inline-flex;
    column-gap: 25px;
    padding: 10px 30px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: $bgGraySecondary;
    a, span {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: $textShade;
      display: block;
      font-weight: 600;
      cursor: pointer;
      img {
        height: 15px;
        margin-right: 8px;
      }
    }
  }

  @media (max-width: 991px) {
    padding: 13px 0;
  }
}

// Footer Style

.site-footer {
  background-color: $accentDarkShade;
  padding: 50px 0 20px;

  .footer-blocks-flex {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
}

.footer-top {
  .footer-logo {
    max-width: 156px;
  }

  .row {
    row-gap: 30px;
  }
}

.footer-social {
  &.icon-dark {
    a {
      background-color: $accentDarkShade;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    @media (min-width: 768px) {
      justify-content: flex-end;
    }
  }

  a {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background-color: rgba($color: $bgGraySecondary, $alpha: 0.15);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $textLightShade;
    font-size: 21px;
    img {
      height: 19px;
    }
  }
}

.footer-contact-info {
  display: flex;
  column-gap: 15px;
  row-gap: 10px;

  .icon {
    width: 25px;
    flex-shrink: 0;
  }

  .data-single {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    h6 {
      font-size: 14px;
      margin-bottom: 2px;
    }

    p {
      margin: 0;
    }

    a {
      &:hover {
        opacity: 0.8;
        color: $textLightShade;
      }
    }
  }

  @media (max-width: 639px) {
    flex-direction: column;
  }
}

.footer-nav-list {
  .list-title {
    margin-bottom: 25px;
  }
  .widgettitle {
    margin-bottom: 25px;
    font-size: 16px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    a {
      font-size: 16px;

      &:hover {
        opacity: 0.8;
        color: $textLightShade;
      }
    }
  }
}

.copyright-nav-col {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 16px;

  .text {
    p {
      color: rgba($color: $textLightShade, $alpha: 0.8);
      margin: 0;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  li {
    position: relative;

    &:before {
      content: '|';
      position: absolute;
      left: -20px;
      top: 0;
      opacity: 30%;
    }

    a {
      opacity: 0.8;

      &:hover {
        opacity: 1;
        color: $textLightShade;
      }
    }
  }
}

.footer-bottom {
  .sponsor-log {
    width: 75px;
  }

  .company-number-info {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    justify-content: space-between;

    @media (min-width: 992px) {
      flex-direction: row-reverse;
      justify-content: inherit;
    }

    .info-list {
      ul {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 16px;
        opacity: 0.8;

        @media (max-width: 639px) {
          flex-direction: column;
          row-gap: 4px;
        }
      }
    }
  }
}

// Icon Content Grid Block Style

.icon-content-grid-block {
  padding: 60px 0 110px;
  .section-title {
    margin-bottom: 45px;
  }
  .row {
    row-gap: 111px;
    justify-content: center;
    @media (max-width: 767px) {
      row-gap: 48px;
    }
  }
  .grid-single {
    padding: 0 14px;
    height: 100%;
    position: relative;
    padding-bottom: 64px;
    .icon {
      margin-bottom: 18px;

      img {
        height: 70px;
      }
    }
    .content {
      h4 {
        font-size: 25px;
        margin-bottom: 25px;

        @media (max-width: 767px) {
          margin-bottom: 13px;
        }
      }
      p {
        font-size: 17px;
      }
      .cta-btn {
        margin-top: 33px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        a {
          height: 46px;
          width: 46px;
          border-radius: 50%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          img {
            width: 23px;
          }
        }
        @media (max-width: 767px) {
          margin-top: 20px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    padding: 50px 0;
  }
}

.grid-shade-primary {
  color: $optionalShadePrimary;

  .cta-btn {
    a {
      background-color: $optionalShadePrimary;
    }
  }
}

.grid-shade-secondary {
  color: $optionalShadeSecondary;

  .cta-btn {
    a {
      background-color: $optionalShadeSecondary;
    }
  }
}

.grid-shade-base {
  color: $optionalShadeBase;

  .cta-btn {
    a {
      background-color: $optionalShadeBase;
    }
  }
}

// Index Filter Slider Block Style

.index-filter-slider-block {
  padding: 65px 0 50px;
  background-color: $bgGrayPrimary;
  .section-title {
    margin-bottom: 26px;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    .form-group {
      position: relative;
      max-width: 400px;
      width: 100%;
      input {
        width: 100%;
        box-shadow: none;
      }
      .icon {
        position: absolute;
        left: 18px;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        display: flex;
      }
    }
    @media (max-width: 479px) {
      .btn-submit {
        flex-shrink: 0;
        .btn-default {
          font-size: 0;
          width: 46px;
          height: 46px;
          padding: 0;
          background-position: center;
        }
      }
    }
  }
  .cta-btn {
    margin-top: 38px;
    text-align: center;
  }
  @media (max-width: 767px) {
    padding: 55px 0 50px;

    .section-title {
      margin-bottom: 20px;
    }
  }
  &.layout-data-filter {
    .worker-slider-main {
      .slick-track {
        margin: 0;
      }
    }
  }
}
.data-filter-list-main {
  margin-top: 37px;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 8px;
    li {
      padding: 8px 20px;
      font-size: 16px;
      font-weight: 700;
      border-radius: 100px;
      cursor: pointer;
      &.active {
        background-color: $baseShade;
      }
    }
    @media (max-width: 767px) {
      column-gap: 10px;
    }
  }
}

.worker-slider-main {
  margin-top: 50px;
  .grid-image-title-slide {
    .cta-arrow {
      cursor: pointer;
    }
  }

  @media (max-width: 767px) {
    margin-top: 30px;
  }
}

.cta-arrow {
  position: absolute;
  color: $textShade;
  height: 46px;
  width: 46px;
  background-color: $ctaShade;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 22px;
  right: 22px;
  transition: all ease-out 0.3s;

  svg {
    width: 23px;
    transform: rotate(-45deg);
  }
}

.grid-image-title-row {
  .row {
    row-gap: 67px;
    @media (max-width: 767px) {
      row-gap: 30px;
    }
  }
  &.grid-image-title-no-spacing {
    .slide-single {
      padding: 0;
    }
  }
}
.grid-image-title-slide {
  a {
    color: $textShade;
  }

  .slide-single {
    padding: 0 11%;

    @media (max-width: 767px) {
      padding: 0 4%;
    }

    .thumb {
      padding-top: 100%;
      margin-bottom: 20px;

      .cta-arrow {
        opacity: 0;
        transform: translateY(10px);
      }
    }

    &:hover {
      .thumb {
        .cta-arrow {
          opacity: 1;
          transform: translate(0);
        }
      }
    }

    .content {
      p {
        font-size: 16px;
      }
    }
  }

  .slick-track {
    display: flex;
  }
  @media (min-width: 1600px) {
    .slick-list {
      padding: 0 300px !important;
    }
  }
}

.theme-optional-primary {
  .slide-single {
    .thumb {
      .cta-arrow {
        background-color: $optionalShadePrimary;
        color: $textLightShade;
      }
    }
  }

  .post-tag {
    background-color: $optionalShadePrimary;
  }
}
.mission-worker-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  .closeIcon {
    position: absolute;
    right: 16px;
    top: 7px;
    cursor: pointer;
  }
}
.popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.theme-optional-secondary-varied {
  .slide-single {
    .thumb {
      .cta-arrow {
        background-color: $optionalShadeSecondaryVaried;
        color: $textLightShade;
      }
    }
  }

  .post-tag {
    background-color: $optionalShadeSecondaryVaried;
  }
}

.theme-optional-secondary {
  .slide-single {
    .thumb {
      .cta-arrow {
        background-color: $optionalShadeSecondary;
        color: $textLightShade;
      }
    }
  }

  .post-tag {
    background-color: $optionalShadeSecondary;
  }
}

.theme-optional-tertiary {
  .slide-single {
    .thumb {
      .cta-arrow {
        background-color: $optionalShadeTertiary;
        color: $textLightShade;
      }
    }
  }

  .post-tag {
    background-color: $optionalShadeTertiary;
  }
}

.theme-dark-shade {
  .slide-single {
    .thumb {
      .cta-arrow {
        background-color: $accentDarkShade;
        color: $textLightShade;
      }
    }
  }

  .post-tag {
    background-color: $accentDarkShade;
  }
}

// Solid BG Banner Style

.solid-bg-banner-block {
  padding: 88px 0;
  background-color: $accentShade;
  position: relative;
  overflow: hidden;
  .container {
    max-width: 600px;
    position: relative;
    z-index: 2;
  }
  .content {
    h2 {
      font-size: 31px;
      margin-bottom: 25px;
    }
    p {
      font-size: 19px;
    }
  }
  .cta-btn {
    margin-top: 35px;
  }
  .btn-list {
    justify-content: center;
  }

  &.bg-image-banner-block {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &:after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: $accentDarkShade;
      opacity: 0.63;
      mix-blend-mode: multiply;
    }
  }
  @media (max-width: 767px) {
    padding: 100px 0 84px;
    .container {
      padding: 0 36px;
    }
    .content {
      h2 {
        margin-bottom: 20px;
      }
      p {
        font-weight: 700;
      }
    }
    .cta-btn {
      margin-top: 20px;
    }
    .btn-list {
      flex-direction: column;
      margin-top: 20px;
      .btn-default {
        display: block;
      }
      .cta-btn {
        margin-top: 0;
      }
    }
  }
  .banner-shape {
    position: absolute;
    &.banner-shape-left {
      bottom: 0;
      left: 0;
    }
    &.banner-shape-right {
      top: 0;
      right: 0;
    }
  }
  @media (max-width: 991px) {
    .banner-shape {
      &.banner-shape-left {
        bottom: -46%;
      }
      &.banner-shape-right {
        top: -18%;
        right: -24%;
        max-width: 310px;
      }
    }
  }
  @media (max-width: 575px) {
    padding: 70px 0 80px;
  }
}

// Posts Grid Featured Block Style

.post-tag,
.tag-optional {
  padding: 6px 17px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: $textLightShade;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 10px;
  background-color: $optionalShadeBaseDark;
  img {
    height: 17px;
  }
  &.tag-secondary {
    background-color: $optionalShadeSecondary;
  }
  &.tag-primary {
    background-color: $optionalShadePrimary;
  }
  &.tag-accent {
    background-color: $accentShade;
  }
}
.post-tag-flex {
  column-gap: 11px;
  display: flex;
  align-items: flex-start;
}

.tag-optional {
  color: $optionalShadePrimary;
  background-color: $bgGraySecondary;
  font-weight: 700;
  position: relative;
  padding-left: 25px;

  &:after {
    content: '';
    height: 12px;
    width: 12px;
    background-color: $optionalShadePrimary;
    position: absolute;
    left: 11px;
    border-radius: 20px;
    top: 45%;
    transform: translateY(-45%);
  }
}
.grid-title {
  margin-bottom: 45px;
  .cta-btn {
    text-align: right;
  }
  .section-title {
    margin-bottom: 0;
  }
  @media (max-width: 767px) {
    .grid-title {
      margin-bottom: 20px;
    }
    .section-title {
      text-align: center;
    }
    .cta-btn {
      text-align: center;
    }
  }
}
.posts-grid-featured-block {
  padding: 85px 0 113px;
  @media (max-width: 767px) {
    padding: 30px 0 23px;
  }
}

.posts-grid-featured {
  a {
    height: 100%;
  }
  .featured-post {
    .media-cover {
      padding-top: 0;
      height: 100%;
      @media (max-width: 767px) {
        padding-top: 100%;
        height: inherit;
      }
    }
  }
  @media (max-width: 767px) {
    .featured-post,
    a {
      height: inherit;
    }
  }
}
.featured-post {
  position: relative;
  overflow: hidden;
  height: 100%;
  .post-content {
    background: transparent
      linear-gradient(180deg, #03192700 0%, $accentDarkShade 100%) 0% 0%;
    padding: 38px 110px 20px 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    .post-tag {
      background-color: $optionalShadeTertiary;
    }

    h2 {
      margin-bottom: 10px;

      a {
        &:hover {
          color: $textLightShade;
        }
      }
    }

    h6 {
      font-size: 14px;
      color: $textLightShade;
    }

    .cta-arrow {
      background-color: $optionalShadeTertiary;
    }
  }

  .media-cover {
    padding-top: 100%;
  }

  @media (max-width: 767px) {
    margin-bottom: 20px;

    @media (max-width: 767px) {
      .media-cover {
        padding-top: calc(100% + 120px);
      }
    }
  }
}

.post-list-vertical {
  display: flex;
  flex-direction: column;
  row-gap: 33px;

  a {
    display: block;
    color: inherit;
  }

  h6 {
    font-size: 14px;
    color: #a7a7a7;
    margin-bottom: 0;
  }

  .post-thumb {
    width: 176px;
    margin-right: 20px;
    flex-shrink: 0;

    .media-cover {
      padding-top: calc(100% + 3px);
    }
  }

  .post-single-box {
    display: flex;
    align-items: center;
  }

  .post-content {
    h4 {
      margin-bottom: 5px;
    }
  }

  @media (max-width: 991px) {
    row-gap: 28px;

    .post-thumb {
      width: 92px;
    }

    .post-content {
      h4 {
        margin-bottom: 2px;
      }
    }

    .post-tag {
      margin-bottom: 5px;
    }
  }
}

// Two Column Thumb Form Grid Block Style

.two-column-image-form-grid-block {
  padding: 66px 0 60px;
  position: relative;
  background-color: $baseShade;
  .custom-shape-divider {
    color: $baseShade;
  }
  &.bg-gray-primary {
    .custom-shape-divider {
      color: $bgGrayPrimary;
    }
  }
  &.bg-gray-secondary {
    .custom-shape-divider {
      color: $bgGraySecondary;
    }
  }
  &.no-bg {
    .custom-shape-divider {
      display: none;
    }
  }
  @media (min-width: 768px) {
    &.block-reverse {
      .container > .row > [class^='col-'] {
        &:first-child {
          order: 2;
        }
        &:nth-child(2) {
          order: 1;
        }
      }
      .form-grid {
        padding-right: 70px;
        padding-left: 0;
      }
    }
  }
  .block-icon {
    position: absolute;
    right: 100px;
    max-width: 170px;
    bottom: 0;
    z-index: 0;
    @media (max-width: 767px) {
      max-width: 120px;
      right: 40px;
    }
  }
  &.bg-gray-primary {
    background-color: $bgGrayPrimary;
  }
  .container {
    @media (max-width: 767px) {
      padding: 0 36px;
    }
  }
  .media-cover {
    padding-top: 100%;
  }
  .section-title {
    margin-bottom: 23px;
  }
  .grid-form {
    .row {
      row-gap: 5px;
    }
  }
  .form-grid {
    margin-top: 30px;
    position: relative;
    z-index: 2;
    @media (min-width: 768px) {
      padding-left: 70px;
      margin-top: 0;
    }
    textarea {
      padding-top: 15px;
    }
  }

  &.icon-list-form-grid-block {
    .icon-list-grid {
      margin-top: 28px;
      li {
        &:not(:last-child) {
          padding-bottom: 30px;
        }
      }
      .icon-with-content {
        display: flex;
        gap: 20px;
        .icon {
          background-color: $optionalShadePrimary;
          height: 60px;
          width: 60px;
          flex-shrink: 0;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            height: 28px;
          }
        }
        .content {
          h5 {
            font-size: 20px;
            line-height: 27px;
            margin-bottom: 10px;
          }
          p {
            font-size: 16px;
            line-height: 22px;
            margin: 0;
          }
        }
      }
    }
  }
  &.two-column-image-content-grid-wave-block {
    padding: 80px 0 104px;
    .section-title {
      h1,
      h2,
      h3,
      h4,
      h5 {
        margin-bottom: 36px;
      }
    }
    .cta-btn {
      margin-top: 35px;
    }
    .form-grid {
      padding-left: 30px;
    }
    @media (min-width: 768px) {
      &.block-reverse {
        .form-grid {
          padding-right: 30px;
          padding-left: 0;
        }
      }
    }
    @media (max-width: 767px) {
      .form-grid {
        padding-left: 0;
      }
    }
  }
  &.layout-single-grid-form-block {
    .container {
      max-width: 850px;
    }
    .form-grid {
      padding-left: 0;
      margin-top: 0;
    }
    .grid-form {
      max-width: 700px;
      width: 100%;
      margin: auto;
    }
  }
  &.no-bg {
    background-color: #fff;
  }
}
.custom-shape-divider {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: scaleX(-1);
  z-index: 2;
  svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 41px;
  }
  .shape-fill {
    fill: $textLightShade;
  }
  &.bottom {
    top: auto;
    bottom: -39px;
    transform: scaleY(-1);
  }
  @media (max-width: 575px) {
    top: -22px;
    svg {
      height: 23px;
    }
    &.bottom {
      bottom: -22px;
    }
  }
}

// Media Query

@media (max-width: 991px) {
  .section-title {
    h1,
    h2 {
      font-size: 28px;
    }
  }

  h4 {
    font-size: 18px;
  }
}

// home-banner
.index-page-banner-block {
  background-position: bottom -90px center;
  .banner-inner-relative {
    padding-top: 433px;
  }
  @media (max-width: 1100px) {
    background-position: center;
  }
  .row {
    align-items: flex-end;
    @media (max-width: 767px) {
      gap: 20px;
      flex-direction: column-reverse;
    }
  }
  &:not(.layout-secondary) {
    .banner-content {
      background-color: $ctaShade;
      border-radius: 25px 25px 0px 0px;
      color: $accentDarkShade;
      padding: 20px 36px;
    }
  }

  .banner-content {
    h1 {
      font-size: 42px;
      line-height: 46px;
      font-weight: 800;

      @media (max-width: 767px) {
        font-size: 28px;
        line-height: 32px;
      }
    }

    .down-arrow {
      @media (max-width: 767px) {
        padding-left: 20px;
      }
      .rotate-icon {
        margin-right: 20px;
      }
    }
  }
  .play-video-button {
    text-align: right;
    margin-bottom: 50px;
    @media (max-width: 767px) {
      text-align: left;
      margin-top: 22px;
      margin-bottom: 20px;
    }
    .btn-default {
      border: 2px solid $textLightShade;
      color: $textLightShade;
      background-color: transparent;
      background-image: url(../images/play_vdo.svg);
    }
  }
  &.layout-secondary {
    padding: 0;
    z-index: 1;
    background-position: center;
    .container {
      position: relative;
      z-index: 1;
    }
    .banner-inner-relative {
      position: relative;
      padding: 348px 0 55px 0;
      &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: transparent
          linear-gradient(186deg, #03192700 0%, $accentDarkShade 100%) 0% 0%
          no-repeat padding-box;
        mix-blend-mode: multiply;
        opacity: 0.75;
        // z-index: -1;
      }
    }

    .banner-content {
      .down-arrow {
        margin-top: 50px;
        cursor: pointer;
      }
    }
    .play-video-button {
      margin-bottom: 0;
    }
  }
  .banner-modal {
    .modal-dialog {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      .modal-box {
        pointer-events: auto;
        width: 100%;
      }
    }
    .btn-close {
      position: absolute;
      top: 0;
      right: 0;
      border: 1px solid rgba(255, 255, 255, 0.52);
      opacity: 1;
      background: transparent
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
        center/1em auto no-repeat;
      background-size: 13px;
    }
    .modal-video {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .media-cover {
      min-height: 85vh;
      @media (max-width: 767px) {
        padding-top: 80%;
        min-height: 0;
      }
    }
  }
}

.index-communities-wrapper {
  padding: 80px 0px;
  background-color: $bgGrayPrimary;
  @media (max-width: 767px) {
    padding: 50px 0px;
  }
  .row {
    @media (max-width: 991px) {
      flex-direction: column-reverse;
      gap: 50px;
    }
  }
  .communities-item-list {
    @media (min-width: 992px) {
      padding-right: 60px;
    }

    .communities-item {
      display: flex;
      align-items: center;
      gap: 32px;
      border-bottom: 3px solid #231f20;
      padding: 34px 0px;
      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
        border: none;
      }
      .icon {
        width: 60px;
        flex-shrink: 0;
      }

      .content {
        p {
          margin: 0;
          font-size: 22px;
          line-height: 30px;
        }
      }
    }
  }

  .communities-content {
    padding-left: 36px;
    padding-right: 36px;
    @media (min-width: 992px) {
      padding-left: 64px;
      padding-right: 0;
    }
    h2 {
      font-size: 31px;
      line-height: 35px;
      margin-bottom: 10px;

      @media (max-width: 991px) {
        font-size: 25px;
      }
    }

    p {
      margin-bottom: 30px;
      font-style: 19px;
    }
  }
  &.layout-secondary {
    padding: 35px 0 76px;
    position: relative;
    .container {
      position: relative;
      z-index: 1;
    }
    &:after {
      content: '';
      background-color: $baseShade;
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
      display: none;
      @media (min-width: 992px) {
        display: block;
      }
    }
    @media (max-width: 767px) {
      padding: 48px 0 0;
    }
    .communities-item-list {
      .icon {
        height: 120px;
        width: 120px;
        border-radius: 100%;
        overflow: hidden;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
      .communities-item {
        border: 0;
        padding: 0;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
    @media (max-width: 991px) {
      .communities-item-list {
        background-color: $baseShade;
        padding: 50px 36px;
        margin-left: -12px;
        margin-right: -12px;
      }
    }
  }
}

.solid-bg-content-stripe-block {
  padding: 36px 0 50px;
  .stripe-list-data {
    .list-inline {
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;
      row-gap: 10px;
      justify-content: center;
      li {
        position: relative;
        @media (min-width: 768px) {
          font-size: 20px;
        }
        &:not(:last-child) {
          &:after {
            content: '|';
            margin-left: 10px;
          }
        }
      }
    }
  }
}

// Common Important Style

section {
  &.bg-gray-primary {
    .custom-shape-divider {
      color: $bgGrayPrimary;
    }
  }
  &.bg-gray-secondary {
    .custom-shape-divider {
      color: $bgGraySecondary;
    }
  }
  &.no-shape {
    padding: 72px 0 86px;
    .custom-shape-divider {
      display: none;
    }
  }
}

// Mega menu Grid Post

.megamenu-grid-nav {
  width: 100%;
  .megamenu-feature-nav {
    background-color: $baseShade;
    padding: 35px 32px;
  }
  .nav-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
    .nav-icon {
      width: 51px;
      flex-shrink: 0;
    }
    .nav-text {
      width: calc(100% - 51px);
      padding-left: 18px;
      p {
        font-size: 14px;
      }
      h4 {
        font-size: 25px;
      }
    }
  }
  .nav-thumb {
    .media-cover {
      padding-top: 70%;
    }
  }
}


// Mega menu Grid Post

.megamenu-grid-nav{
  width: 100%;
  .megamenu-feature-nav {
      background-color: $baseShade;
      padding:35px 32px;
  }
  .nav-content{
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 18px;
      .nav-icon{
          width: 51px;
          flex-shrink: 0;
      }
      .nav-text{
          width: calc(100% - 51px);
          padding-left: 18px;
          p{
              font-size: 14px;
          }
          h4{
              font-size: 25px;
          }
      }
  }
  .nav-thumb{
      .media-cover{
          padding-top: 70%;
      }
  }
}

.mega-menu {
  background: #fff;
  overflow: hidden;
  border-top: 1px solid #03192733;
  position: absolute;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 99;
  top: 0;
  animation-name: wpmmfadeInUp;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  display: none;
  .col-md-4{
    padding-right: inherit;
    @media(max-width:767px){
      padding-right: 12px;
    }
  }
  .col-md-8{
    padding: inherit;
  }
  .icon-with-content {
    padding: 30px 100px 55px 50px;
    @media(min-width:767px ){
      width: 100%;
    }
    @media(max-width:1024px){
      padding: 10px 30px 10px 30px;
    }
    .menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      row-gap: 30px;
      margin-bottom: 0;
      li.listing-content {
        width: 50%;
        padding: 15px 20px;
        border-radius: 15px;
        overflow: hidden;
        transition: all ease-out 0.3s;
        margin-right: 0;
        @media(max-width:767px){
            width: 100%;
        }
        &:hover {
            background-color: $bgGraySecondary;
        }
        a {
          color: $accentDarkShade;
          .multiple-box {
            display: flex;
            align-items: flex-start;
            .nav-icon {
                img {
                  width: 50px;
                  height: 50px;
                }
                &.circul{
                  background: $ctaShade;
                  height: 50px;
                  width: 50px;
                  border-radius: 50%;
                }
            }
            .content {
              width: calc(100% - 50px);
              padding-left: 20px;
              span {
                font-size: 17px;
                font-weight: 700;
                line-height: 24px;
              }
              p {
                margin-bottom: 0;
                font-size: 14px;
                font-weight: 400;
              }
            }
          }
        }
        .sub-menu {
          .menu-item {
            padding: 0px 0px 0px 70px;
            margin-top: 10px;
            &:hover {
                text-decoration: underline;
            }
            a {
                font-size: 14px;
                font-weight: 700;
                line-height: 19px;
            }
          }
        }
      }
      @media(max-width:767px){
        row-gap: 10px;
      }
    }
  }
  @media(max-width:991px){
    position: static;
  }
}

@keyframes wpmmfadeInUp {
  from {
      opacity: 0;
      transform: translate3d(0, 20px, 0);
  }
  to {
      opacity: 1;
      transform: none;
  }
}

// Map Section Style

.inner-page-map-wrapper{
  padding: 30px 0 30px;
  position: relative;
  .custom-shape-divider{
      &.bottom{
          bottom: -1px;
          transform: scaleX(-1);
          color:#fff;
          svg{
              width: calc(143%);
              height: 60px;
          }
          @media(max-width:767px){
              svg{
                  height: 23px;
                  width: calc(123%);
              }
          }
      }
  }
  .region-data-box{
      padding: 20px 20px 60px;
      background-color: $optionalShadeBase;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      min-height: 210px;
      .data-single{
          display: flex;
          align-items: center;
          justify-content: space-between;
          *{
              margin: 0;
          }
          p{
              padding-right: 50px;
              font-size: 17px;
          }
      }
      li{
          &:not(:last-child){
              .data-single{
                  padding-bottom: 15px;
                  margin-bottom: 15px;
                  border-bottom: 1px solid #fff;
              }
          }
      }
      @media(max-width:767px){
          padding-bottom: 40px;
      }
  }
  .region-list-main{
      max-width: 512px;
      max-width: 650px;
      width: 100%;
      margin: auto;
      ul{
          display: flex;
          flex-wrap: wrap;
          margin: 0 -6px;
          justify-content: center;
          row-gap: 15px;
      }
      li{
          width: 33.33%;
          padding:0 6px;
          @media(max-width:575px){
              width: 50%;
          }
      }
      .region-single{
          padding:11px 12px;
          border-radius: 50px;
          font-size: 19px;
          font-weight: 700;
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
          background-color: #fff;
          display: flex;
          gap: 12px;
          line-height: 26px;
          align-items: center;
          height: 100%;
          cursor: pointer;
          .color{
              height: 26px;
              width: 26px;
              border-radius: 30px;
              display: block;
              flex-shrink: 0;
          }
          @media(max-width:575px){
              font-size: 16px;
          }
      }
  }
  .map-frame{
      svg{
        g{
          &.active{
            path{
              fill:$baseShade;
            }
          }
        }
      }
  }
  .region-data-row{
      .row{
          row-gap: 25px;
      }
      @media(max-width:767px){
          [class^="col-"]{
              &:first-child{
                  order: 2;
              }
              &:last-child{
                  order: 1;
              }
          }
      }
  }
  @media(max-width:767px){
      padding-bottom: 0px;
  }
}